torchaudio # Accelerates convolution
torch # Accelerates hilbert transforms
numba # Accelerates beamforming
numpy
scipy
matplotlib
colorama
tqdm # Nice progress bars
ipywidgets # Interactive widgets with matplotlib
ipympl # Usually needed to interface widgets and matplotlib